
nav>div>div>a{
    text-decoration: none;
    color: black;
}
header{
    height: 700px;
    padding: 5px 20px;
    margin-top: 30px;
}
nav{
    margin: 30px;
}
main>h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    margin: 150px 30px 80px 30px;
}
main>button{
    margin: 30px 30px;
    padding: 30px;
}
.flex2{
    display: flex;
    padding: 60px 0px;
}
.flex2>div>img{
    height: 350px;
    width: auto;
    margin-right: 20px;
}
.cream>img{
    height: 80px;
}
.products{
    margin: 10px 0px 50px 0px;
}
.products>h2{
    margin: 70px 0px;
    text-align: center;
}
div.col-4{
    margin: 30px 0px;
}
 .discount{
    margin: 80px 0px;
 }
.offer{
    margin: 100px 30px 100px 0px;
}
.a{
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: bold;
}
.anti_aging>img{
    width: 450px;
    margin: -50px 0px 0px 30px;
}
.anti_aging_b{
    margin-top: 30px;
    padding: 70px;
}
button.anti_aging{
    display: block;
    margin: auto;
}
.quality{
    background-color: rgb(250,240,230);
}
.quality_cont{
    margin: 80px 0px 0px 0px;
    text-align: center;
}
.aloe1{
    align-items: center;
}
#email{
    width: 300px;
    border-radius: 0px;
}
.update{
    margin: 150px 0px 0px 0px;
}
footer{
    background-color: rgb(255,240,219);
    margin-top: 25px;
    padding: 30px;
}
footer>main>div>ul{
    list-style-type: none; 
}
.explore{
    margin: 30px 0px;
}
.explore_li{
    list-style-type: none;  
}
.explore_li>li>a{
    text-decoration: none;
    color: black;
}
.explore>h5{
    padding-left: 30px;
}
